
<footer class="footer">
    <div class="footer-content px-4">
        <p>&copy; 2025 Pepepepe. Projet réalisé par Corentin, Kilian et Florent</p>
    </div>
    <div class="footer-lines">
        <span class="line orange"></span>
        <span class="line pink"></span>
    </div>
</footer>