/* Layout global pour la page */
html[b-rpw8iq0gl1], body[b-rpw8iq0gl1] {
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    margin: 0;    /* Supprime les marges par défaut */
    padding: 0;   /* Supprime les espacements par défaut */
}

.page[b-rpw8iq0gl1] {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Prend au moins la hauteur de la fenêtre */
}

main[b-rpw8iq0gl1] {
    flex: 1; /* Prend tout l'espace restant */
    padding: 3rem 0;
    background-color: #fff;
    color: #000;
}
