
<header class="banner">
    <div class="banner-content px-4">
        <h1 >Bienvenue sur note site d'hébergement de mot de passe : Pepepepepe</h1>
    
    </div>
    <div class="banner-lines">
        <span class="line orange"></span>
        <span class="line pink"></span>
    </div>
</header>