@page "/"

@using front_gestionnaire_password.Components.HomeComponents
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Identity.Abstractions

@attribute [Authorize]
@inject IDownstreamApi DownstreamApi;


<PageTitle>Accueil</PageTitle>

<h1>Bienvenue sur mot de : Peep !</h1>

@if (_user != null)
{
    <p>Vous êtes connecté en tant que : <b>@_user.Identity?.Name</b></p>

    <ul>
        @foreach (var claim in _user.Claims)
        {
            <li>@claim.Type : @claim.Value</li>
        }
    </ul>
}

<DropDown/>


@code {

    private Vault[] vaults = [];

    /*protected override async Task OnInitializedAsync()
    {
        try
        {
            vaults = await DownstreamApi.CallApiForUserAsync<Vault[]>("EntraIDAuthWebAPI", options =>
            {
                options.HttpMethod = "GET";
                options.RelativePath = "RegisterUser";
            }) ?? [];
        }
        catch (Exception)
        {
            
        }
        
    }*/
}


